@import "pag/custom";
@import "pag/globals";
@import "pag/header";
@import "pag/footer";
@import "pag/inicio";
@import "pag/equipo_gaby";
@import "pag/decoraciones";
@import "pag/contacto";
@import "pag/carrito";
@import "pag/iniciar_sesion";
