// tamaño del carrousel
.carousel-inner {
  max-height: 30rem;
}
/* decoraciones / galeria de la sección decoglobos */
.container__galery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 10px;

  &--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &--item:nth-child(1) {
    grid-row-start: span 2;
  }
  &--item:nth-child(4) {
    grid-row-start: span 2;
    background-position: center;
  }
  &--item:nth-child(5) {
    grid-row-start: span 2;
    background-position: center;
  }
}

// bucle de la sección box y waffles con degradado de colores de oscuro a claso
@for $in from 1 through 8 {
  .bucle--#{$in}:hover {
    background-color: lighten($color_bucle, $in * 10%);
    padding: 1rem;
    cursor: pointer;
  }
}
.img--responsive {
  border-radius: 10rem;
}
