.menu {
  background-color: hsl(123, 87%, 85%);

  li a {
    color: #0d0d0d !important;
    display: block;
    cursor: pointer;
    text-decoration: none;
    padding: 0.7rem;
    transition: all 0.5s;

    &:hover {
      border: 1px solid #bf0a5e;
      border-radius: 1px;
      font-weight: bold;
      background-color: floralwhite;
      opacity: 0.5;
    }
  }
}
