// Estilos del index

.imagen {
  // margin-top: 0px;
  // padding-top: 50px;
  &--intro {
    // min-height: 80vh;
    // max-width: 100%;
    // background-image: url(./../../imagenes/fondo_index1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@mixin getContainer($noIndex) {
  // width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  &__intro {
    @if $noIndex {
      padding-top: 120px;
    } @else {
      margin-top: 40px;
      padding-top: 20px;
    }
    padding-bottom: 40px;
  }

  & --h1 {
    text-transform: capitalize;
  }
  &--tituloP {
    font-family: "Comic Neue", cursive;
    display: inline-block;
    font-size: $font_titulo_index;
    font-weight: 1000;
    margin-top: 0;
    padding: 3rem;
    color: $colorh1;
    position: relative;
  }
  &--eslogan {
    display: block;
    font-size: $font_eslogan_index;
    font-weight: 700;
    margin-top: 1.2rem;
    padding-top: 1.2rem;
    text-transform: none;
    position: relative;
  }
}

.containerIndex {
  @include getContainer(false);
}

.container {
  @include getContainer(true);
}
.card {
  margin-bottom: 3rem;

  &--fondo {
    background-color: transparent;
    border: none;
  }
}
// Aplicando media queries

@media (min-width: 768px) {
  .container--tituloP {
    font-size: 10rem;
  }
  .container--eslogan {
    font-size: 4rem;
  }
}
