// Estilos del index

.imagen {
  margin-top: 0px;
  // padding-top: 99px;
  &--intro {
    min-height: 90vh;
    background-image: url(./../../imagenes/fondo_index1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@mixin getContainer($noIndex) {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  &__intro {
    @if $noIndex {
      padding-top: 120px;
    } @else {
      padding-top: 99px;
    }
    padding-bottom: 40px;
  }

  & --h1 {
    text-transform: capitalize;
  }
  &--tituloP {
    font-family: "Comic Neue", cursive;
    display: inline-block;
    font-size: 5.5rem;
    font-weight: 1000;
    margin-top: 0;
    padding: 3rem;
    color: $colorh1;
    position: relative;
  }
  &--eslogan {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 1.2rem;
    text-transform: none;
    position: relative;
  }
}

.containerIndex {
  @include getContainer(false);
}

.container {
  @include getContainer(true);
}
.card {
  margin-bottom: 3rem;

  &--fondo {
    background-color: transparent;
    border: none;
  }
}

@media only screen and (max-width: 768px) {
  .container--tituloP {
    font-size: 3.2rem;
  }
  .container--eslogan {
    width: 99%;
    margin: auto;
  }
}
