@import "custom";
@import "globals";
@import "header";
@import "footer";
@import "inicio";
@import "equipo_gaby";
@import "decoraciones";
@import "contacto";
@import "carrito";
@import "iniciar_sesion";
